.kanban {
	display: flex;
	padding: 80px;
	width: 750px;
	background: #861F41;
	border-radius: 5px;
}

.kanban * {
	font-family: sans-serif;
}

.kanban__column {
	flex: 1;
}

.kanban__column:not(:last-child) {
	margin-right: 30px;
}

.kanban__column-title {
	margin-bottom: 20px;
	font-size: 30px;
	color: white;
	user-select: none;
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.pomo-message {
	height: 20px;
	margin: 10px auto 20px auto;
  }
  
  .pomo-container {
	width: 250px;
	height: 420px;
	margin: 40px auto;
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	border-color: #861F41;
  }

  .pomo-circle {
	position: relative;
	margin: 0 auto;
	width: 200px;
	height: 200px;
  }
  
  .circle-shape {
	pointer-events: none;
  }

  .semi-circle {
	position: absolute;
	width: 100px;
	height: 200px;
	box-sizing: border-box;
	border: solid 6px;
  }
  
  .left-side {
	top: 0;
	left: 0;
	transform-origin: right center;
	transform: rotate(0deg);
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-right: none;
	z-index: 1;
  }
  
   .right-side {
	top: 0;
	left: 100px;
	transform-origin: left center;
	transform: rotate(0 deg);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-left: none;
  }

  .circle {
	border-color: #861F41;
  }
  
  .circle-mask {
	border-color: #861F41;
  }

  .pomo-counter-box {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 250%;
	position: relative;
	top: 50px;
	color: #E5751F;
  }
  
  button {
	position: relative;
	top: 50px;
	font-size: 70%;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	background: none;
	outline: none;
	color: #E5751F;
  }
  
  button:hover {
	color: #861F41;
  }
